<script src="@Url.Content("~/js/UI/Dialogs/DocumentRenderingSettingsDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/UI/Panels/ImageRenderingSettingsPanel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/UI/Panels/PageSizeSettingsPanel.js")" type="text/javascript"></script>
<div class="modal" id="documentRenderingSettingsDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Custom settings</h5>
            </div>
            <div class="modal-body">
                <label for="defaultSettingsCheckbox" localizationId="defaultSettingsCheckboxLabel">Use default settings</label>
                <input id="defaultSettingsCheckbox" type="checkbox" checked />
                <fieldset id="customSettingsFieldset" disabled>
                    <legend localizationId="customSettingsLabel">Custom settings</legend>
                    @Html.Partial("UI/Panels/ImageRenderingSettingsPanel")
                    @Html.Partial("UI/Panels/PageSizeSettingsPanel")
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="okButton" onclick="javascript: DocumentRenderingSettingsDialogJS.okButton_clicked(); return false;">OK</button>
            </div>
        </div>
    </div>
</div>
